body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #666
}
img{
    outline: 0;
    vertical-align: top;
    border: 0;
    max-width: 100%;
    height: auto
}
.txt_center{
    text-align: center
}
.flex-auto-centr{
    flex: 1 1 auto;
    justify-content: center
}
.p-relative{
    position: relative
}
.inner-h3{
    color: #333;
    line-height: 40px;
    font-size: 40px;
}
.inner-h3 span:first-child{
    font-weight: 500
}
.col-25{
    display: flex;
    flex: 0 1 25%;
    position: relative;
    min-height: inherit;
    box-sizing: border-box;
    overflow: hidden;
}
/*-Header styles-*/
.header{
    height: 80px
}
.header-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    background-color: #fff
}
.container{
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden
}
.header__row{
    display: flex;
    flex: 0 1 100%;
}
.logo__href{
    color: #333;
    text-transform: uppercase;
    line-height: 80px;
    font-size: 26px
}
.logo__href span{
    padding-right: 12px;
}
/*-Font weight modificators-*/
.logo__latter_bold_1{
    font-weight: 100
}
.logo__latter_bold_3{
    font-weight: 300
}
.logo__latter_bold_4{
    font-weight: 400
}
.logo__latter_bold_7{
    font-weight: 700
}
.logo__latter_bold_9{
    font-weight: 900
}
/*-Main nav-*/
.header__main-menu{
    flex: 1 1 auto
}
.header__menu_row{
    display: flex;
    justify-content: flex-end
}
.header__menu_list a{
    display: block;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    padding: 30px 20px;
    margin: 0 0
}
.header__menu_list:hover a, .header__menu_list.active a {
    color: #333;
}
/*-Search Form-*/
.header__search-form{
    position: relative;
    height: 40px;
    margin: 20px 0 20px 19px;
    padding-left: 49px;
    border-left: 1px solid #ccc;
    font-family: FontAwesome;
}
.header__search-form:before {
    content: "\f002";
    position: absolute;
    left: 28px;
    top: -2px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #cccc;
}
.header__search-form input{
    width: 42px;
    margin: 0;
    padding: 11px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 19px;
    font-size: 13px;
    color: #999;
    border: none;
}

/*-Main slider block-*/

.top-slider{
    background-image: url(../images/slider/slide1_bg.jpg);
    background-repeat: repeat-x;
    height: 615px;
    background-color: #ccc;
}
.top-slider__row{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 11.8rem 0 2.5rem 0;
    box-sizing: border-box;
}
.top-slider__hider-row{
    display: flex;
    margin-bottom: 15px
}
.top-slider__hider-row .top-slider__hider-item{
    margin-right: 3px
}
.top-slider__hider-row .top-slider__hider-item span{
    font-weight: 100;
    line-height: 80px;
    font-size: 80px;
    color: #333
}
.top-slider__hider-row .top-slider__hider-item:first-child span{
    font-weight: 500
}

.top-slider__text-item{
    width: 700px;
    font-weight: 300;
    line-height: 34px;
    font-size: 26px;
    color: #333;
    margin-bottom: 15px
}
.top-slider__column2{
    flex: 1 1 auto
}
/*- Toggle slier block -*/
.top-slider__toggle-row{
    display: flex;
    width: 100%
}
.top-slider__toggle-column, togle-buttons{
    display: flex;
    align-items: center
}
.togle-buttons__button-l a, .togle-buttons__button-r a{
    padding: 20px 30px;
    position: relative;
    background: #fff;
    margin-right: 1px;
    transition-duration: 600ms
}
.togle-buttons__button-l a::after, .togle-buttons__button-r a::after, .togle-buttons__button-l a::before, .togle-buttons__button-r a::before{
    content: '';
    position: absolute;
    width:10px;
    height: 2px;
    background-color: #333
}
.togle-buttons__button-l a::after{
    transform: rotate(-45deg);
    left: 25px;
    top: 24px
}
.togle-buttons__button-l a::before{
    transform: rotate(45deg);
    left: 25px;
    top: 30px
}

.togle-buttons__button-r a::after{
    transform: rotate(45deg);
    left: 25px;
    top: 24px
}
.togle-buttons__button-r a::before{
    transform: rotate(-45deg);
    left: 25px;
    top: 30px
}
.togle-buttons__button-l a:hover, .togle-buttons__button-r a:hover{
    background: #333
}
.togle-buttons__button-l a:hover::after, .togle-buttons__button-l a:hover::before,
.togle-buttons__button-r a:hover::after, .togle-buttons__button-r a:hover::before{
    background: #fff
}
/*- -*/
.top-slider__img-toggle-wrap{
    margin-right: 8px;
    height: 75px;
    padding: 5px 0 0 0;
    width: 100px;
    background: inherit;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
}
/*- Class active in future -*/
.top-slider__img-toggle-wrap:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    min-height: 70px;
    box-sizing: border-box;
    top: 5px;
    left: 0;
    border: 5px solid white
}
.top-slider__img-toggle-wrap:hover::before{
    content: '';
    position: absolute;
    left: 40%;
    top: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid white
}
/*- //Class active in future -*/

.top-slider__read-more_btn{
    position: relative;
    background: #fff;
    padding: 22px 60px 20px 30px;
    text-transform: uppercase;
    font-weight: 900;
    color: #333;
    cursor: pointer
}
.top-slider__read-more_btn a::after, .top-slider__read-more_btn a::before{
    content:'';
    background: #fff;
    position: absolute;
    background-color: #333;
    width: 10px;
    height: 3px
    
}
.top-slider__read-more_btn a::after{
    transform: rotate(45deg);
    right: 30px;
    top: 27px
}
.top-slider__read-more_btn a::before{
    transform: rotate(-45deg);
    right: 30px;
    top: 33px
}
/*- Hover animation wiil be added with jQuery -*/
.top-slider__read-more_btn a:hover{
}
/*--//--*/
/*-  -*/
.min-advantages{
    padding: 74px 0 40px 0
}
.min-advantages__row{
    display: flex;
    justify-content: space-between
}
.min-advantages__column{
    flex: 0 1 23.5%
}
.min-advantages__header{
    text-transform: none;
    font-weight: 300;
    font-size: 20px;
    color: #333;
}
.min-advantages__header span:first-child {
    font-weight: 400
}
.min-hr{
    margin: 19px 0 15px 0;
    height: 2px;
    background-color: #ccc;
    width: 30px
}
.min-advantages__text{
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 14px;
    color: #666;
}
/*- Full-advantages styles-*/
.full-advantages{
    background: url(/images/clean_code_bg.jpg);
    background-repeat: repeat-x
}
.full-advantages__inner{
    padding: 96px 0 78px 0
}
.full-advantages__header{
    margin: 0 0 17px;
    font-weight: 100;
    line-height: 80px;
    font-size: 80px;
    color: #fff
}
.full-advantages__header span:first-child{
    font-weight: 500
}
.full-advantages__text{
    font-weight: 300;
    line-height: 34px;
    font-size: 26px;
    color: #999
}
.toggle-group__row{
    margin: 80px -15px 0 -15px;
    display: flex;
}
.toggle-group__columns{
    padding: 0 15px;
    width: 170px;
    height: 170px
}
.line-item, .toggle-group__wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden
}
.toggle-group__wrap{
    padding: 54px 0 0 0;
    display: block;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.toggle-group__wrap i{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 0 -60px;
}
.toggle-group__item1 i{
    background-image: url(/images/i1.png)
}
.toggle-group__item2 i{
    background-image: url(/images/i2.png)
}
.toggle-group__item3 i{
    background-image: url(/images/i3.png)
}
.toggle-group__item4 i{
    background-image: url(/images/i4.png)
}
.toggle-group__item5 i{
    background-image: url(/images/i5.png)
}
.toggle-group__item6 i{
    background-image: url(/images/i6.png)
}
.toggle-group__wrap:hover{
    padding: 45px 0 0 0
}
.toggle-group__wrap:hover i{
    background-position: 0 -120px
}
/*- //Full-advantages styles -*/
/*- wordPress block -*/
.wordPress{
    position: relative;
}
.wordPress__row{
    display: flex;
    padding: 72px 0 47px 0;
    margin: 0 -15px
}
.wordPress__main-column1, .wordPress__main-column2{
    padding: 0 15px
}
.wordPress__main-column1{
    flex: 1 1 auto
}
.wordPress__main-column2{
    flex: 1 0 470px
}
.wordPress__header{
    margin: 0 0 26px
}
.wordPress__text p{
    margin-bottom: 26px;
    font-weight: 300;
    line-height: 26px;
    font-size: 17px;
}
.wordPress__buttons{
    display: flex
}
.wordPress__item a{
    display: block;
    box-sizing: border-box;
    margin: 30px 16px 0 0;
    padding: 24px 27px 22px;
    border: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 20px;
    font-size: 13px;
    color: #999;
    text-shadow: none;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
        -webkit-transition: all 0.3s ease-in-out
}
.wordPress__item a.wordPress__buy{
    background-color: #1c1c1c;
    color: #fff;
    border-color: #1c1c1c;
    width: 162px;
    height: 70px
}
.wordPress__item a.wordPress__view:hover{
    border-color: #1c1c1c;
    color: #1c1c1c
}
.wordPress__main-column2 .wordPress__image img{
    display: block;
    position: absolute;
    margin-top: -116px;
    
}
/*- // -*/
/*- featured-works block -*/
.featured-works__inner{
    padding: 47px 0 20px 0
}
.featured-works__row1, .featured-works__row2{
    display: flex;
    align-items: center
}
.featured-works__row1{
    height: 70px;
    justify-content: space-between
}
.featured-works__slider-tgl{
    display: flex
}
.featured-works__button-r{
    margin-left: -2px
}
.featured-works__button-l a, .featured-works__button-r a{
    padding: 24px 32px;
    position: relative;
    background: #fff;
    transition: 600ms;
    border: 2px solid #ccc
    
}
.featured-works__button-l a::after, .featured-works__button-r a::after, .featured-works__button-l a::before, .featured-works__button-r a::before{
    content: '';
    position: absolute;
    width:14px;
    height: 3px;
    background-color: #ccc;
    transition: 600ms
}

.featured-works__button-l a::after{
    transform: rotate(-45deg);
    left: 25px;
    top: 28px
}
.featured-works__button-l a::before{
    transform: rotate(45deg);
    left: 25px;
    top: 37px
}
.featured-works__button-r a::after{
    transform: rotate(45deg);
    left: 25px;
    top: 28px
}
.featured-works__button-r a::before{
    transform: rotate(-45deg);
    left: 25px;
    top: 37px
}
.featured-works__button-l a:hover, .featured-works__button-r a:hover{
    border-color: #333;
    z-index: 20
}
.featured-works__button-l a:hover::after, .featured-works__button-l a:hover::before, .featured-works__button-r a:hover::after, .featured-works__button-r a:hover::before{
     background-color: #333
}
.featured-works__body{
    height: 305px
}
.featured-works__row2{
    padding: 48px 0 0 0;
    height: inherit;
    min-height: 100%
}

.featured-works__over-img{
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 20;
}
.featured-works-show:hover  .featured-works__description{
    z-index: 30
}
.featured-works__over-img img{
    height: 100%
}
.featured-works__description{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background: #333;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: 400ms
}
.featured-works__descr-cont a{
    display: block;
    margin: 0 0 6px;
    font-weight: 300;
    line-height: 24px;
    font-size: 24px;
    color: #fff;
}
.featured-works__descr-eye-wrap{
    margin-top: 10px;
    position: relative
}
.eye{
    position: absolute;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #444;
    top:50%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    border-radius: 75% 0;
    cursor: pointer;
    transition: 200ms;
}
.eye::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 100%;
    top: 18%;
    left: 40%;
    transform: translate(-33%) rotate(45deg)
}
.eye::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg)
}
.eye:hover, .eye:hover::before, .eye:hover::after{
    border-color: #fff
}
